@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbar */
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
